.uploadedImage {
    padding: 20px
}

.mainBody {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("http://www.hdfondos.eu/pictures/2013/0405/1/dark-stairs-background-419627.jpg");
}

#row-heading{
    background: rgba(0,0,0,0.3);
    padding-bottom: 10px;
    padding-top: 10px;
}